<div class="section" id="features">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>{{'Features' | translate}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-icon">
                    <div class="icon">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                    <h3 class="uppercase">{{'GetStartedInMinutes' | translate}}</h3>
                    <p class="description">{{'CoinblendOffersTheSimplestWayToStart' | translate}}</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-icon">
                    <div class="icon">
                        <i class="fa fa-universal-access" aria-hidden="true"></i>

                    </div>
                    <h3 class="uppercase">{{'AccessAndLiquidity' | translate}}</h3>
                    <p class="description">{{'ManageAndWithdrawals' | translate}}</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-icon">
                    <div class="icon">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </div>
                    <h3 class="uppercase">{{'CuttingEdgeSecurity' | translate}}</h3>
                    <p class="description">{{'SecurityTopPriority' | translate}}</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-icon">
                    <div class="icon">
                        <i class="fa fa-low-vision" aria-hidden="true"></i>
                    </div>
                    <h3 class="uppercase">{{'Transparency' | translate}}</h3>
                    <p class="description">{{'NoHiddenCosts' | translate}}</p>
                </div>
            </div>
            <div class="clearfix">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="https://app.coinblend.io/#/" class="btn btn-fill btn-block">{{'ConvincedGetStartedNow' | translate}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="description text-center">
                    {{'ComplexForRegularUsers' | translate}}
                </p>
                <p class="description text-center">
                    {{'CoinblendChangesAllThat' | translate}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <svg xmlns="http://www.w3.org/2000/svg" height="210" width="100%">
                    <defs>
                        <marker id="arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth">
                            <path d="M0,0 L0,6 L9,3 z" fill="#fc7e01" />
                        </marker>
                    </defs>
                    <line x1="20" y1="100" x2="90%" y2="100"
                          stroke-width="1" stroke="#fc7e01" marker-end="url(#arrow)" />
                    <line x1="50%" y1="50" x2="50%" y2="150"
                          stroke-width="1" stroke="#fc7e01" />
                    <text x="10%" y="80" class="svg-text" fill="#333">Before Coinblend</text>
                    <text x="60%" y="80" class="svg-text" fill="#333">After Coinblend</text>
                </svg>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-sm-6 col-xs-6">
                <div class="col-md-6 image-desktop-only">

                </div>
                <div class="col-md-6 col-md-sm-12 col-xs-12">
                    <ul class="text-center">
                        <li>
                            Variety of options
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>

