<div class="section section-our-team" id="ourteam">
    <div class="parallax filter filter-color-blue">
        <div >
        </div>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>Who We Are</h2>
                        <div class="separator"><i class="fa fa-users" aria-hidden="true"></i></div>
                        <p class="description">This is the core of our team that works towards the dream of having a powerful AI that will trade profitably instead of us.</p>
                    </div>
                </div>
                <div class="team">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar">
                                                <img alt="..." class="img-circle" src="{{simoPic}}" />
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Simeon</h3>
                                                <p class="description">A passionate web developer and blockchain enthusiast. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar">
                                                <img alt="..." class="img-circle" src="{{georgiPic}}" />
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Georgi</h3>
                                                <p class="description">Web developer with a lot of experience in different project.<p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar">
                                                <img alt="..." class="img-circle" src="{{milenPic}}" />
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Milen</h3>
                                                <p class="description">Milen has a degree in Information Technology and Industrial Management. His work experience includes a career in electronics and embedded systems design for the automobile industry, working as a senior software architect for industry leaders Johnson Controls and Continental. Having real-world knowledge of the software industry, he is now overseeing the execution of our projects.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar">
                                                <img alt="..." class="img-circle" src="{{mitkoPic}}" />
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Dimitar</h3>
                                                <p class="description">Dimiter has a degree in Informatics, his work experience including a career in computer networking and information security. At HP, working as an information security consultant, Dimiter provided insight to the C level executives of Alcatel-Lucent, Nokia, AON, Centrica. He also has a background in Healthcare, where he consulted the likes of Philips, Pfizer and ThermoFisher.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>