<div class="section" id="ourservices">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>Our Services</h2>
                <div class="separator"><i class="fa fa-btc" aria-hidden="true"></i></div>
                <p class="description">Invest in the crypto market without worrying how, where and what to buy. The crypto fever is just the beginning and you can take part in this market by investing through us. We promise we will take care of your hard-earned money.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </div>
                    <h3>Free Mode</h3>
                    <p class="description">Tell us what cryptocurrency you want to buy and leave us deal with the administrative stuff and the security of your coins.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        
                    </div>
                    <h3>Rebalancing Portfolio</h3>
                    <p class="description">Invest in the top cryptocurrencies in the market. Our portfolio rebalances every week investing in the cryptocurrencies with biggest market cap.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </div>
                    <h3>Trading Bots</h3>
                    <p class="description">Our trading bots make financial decision when to buy and sell getting you only in profitable opportunities even when the crypto market is going down.</p>
                </div>
            </div>
        </div>
    </div>
</div>