<div class="section" id="contactus">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>Do you want to work with us?</h2>
                <div class="separator line-separator"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                <p class="description"> We are ready to take you to the next level and make your money work for your towards the financial independence!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="info-icon">
                    <div class="icon">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <h3>Telephone</h3>
                    <p class="description">0879439290</p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="info-icon">
                    <div class="icon">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <h3>Email Address</h3>
                    <p class="description">simeon.vanov@code-runners.com</p>
                </div>
            </div>
        </div>
    </div>
   
</div>
