$background-color: #7ab4b0;
$main-color: #fc7e01;
$button-color: #ffcc3f;
$button-active: #E5B738;
$button-text-color: #FFFFFF;
$main-darker-color: #c2551b;

$outer-space: #1d2120;
$outer-space-darker: #0b0d0c;
$outer-space-lighter: #4a4d4c;

$fuscuous-gray: #5A5C51;
$fuscuous-gray-darker: #3e4038;
$fuscuous-gray-lighter: #7a7c73;

$brandy-rose: #BA9077;
$brandy-rose-darker: #826453;
$brandy-rose-lighter: #ceb19f;

$jet-stream: #BCD5D1;
$jet-stream-darker: #839592;
$jet-stream-lighter: #d0e1de;