@import './../../../assets/styles/colors.scss';

.filter.filter-color-blue:before {
    background: $background-color;
}

.background-image {
    background: linear-gradient(rgba(34, 56, 67, 0.2), rgba(34, 56, 67, 0.2)), url('/header-1.jpg') center center;
}

.section-header,
.section-header-blog,
.section-presentation-page {
    padding: 0;
}

.section-header .container,
.section-header-blog .container,
.section-presentation-page .container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
}

.section-header .content,
.section-header-blog .content,
.section-presentation-page .content {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    color: white;
    text-align: center;
    z-index: 5;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    vertical-align: center;
    line-height: 1.7;
    position: relative;
    top: 44%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.section-header .btn,
.section-header-blog .btn,
.section-presentation-page .btn {
    text-shadow: none;
}

.section-header h1,
.section-header-blog h1,
.section-presentation-page h1 {
    font-weight: 400;
    font-size: 3.6em;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.3), -2px 4px 2px rgba(0, 0, 0, 0.1);
}

.section-header h5,
.section-header-blog h5,
.section-presentation-page h5 {
    font-size: 1.3em;
    margin: 0 auto .5em;
    line-height: 1.5;
    letter-spacing: 0.125;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.section-header p,
.section-header-blog p,
.section-presentation-page p {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 1em 0 0.5em;
}

.section-header p span,
.section-header-blog p span,
.section-presentation-page p span {
    text-transform: lowercase;
}

.section-header .separator,
.section-header-blog .separator,
.section-presentation-page .separator {
    color: #fff;
    margin: 30px auto;
}

.section-header .separator.line-separator:before, .section-header .separator.line-separator:after,
.section-header-blog .separator.line-separator:before,
.section-header-blog .separator.line-separator:after,
.section-presentation-page .separator.line-separator:before,
.section-presentation-page .separator.line-separator:after {
    border-color: white;
}

.section-header-small .parallax,
.section-header-small .static-image {
    min-height: 50vh;
    height: auto;
}