
<header class="section section-header" id="home">
    <div class="parallax filter filter-color-blue">
        <div class="image background-image">
        </div>
        <div class="container">
            <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

            <div class="content">
                <div class="title-area">
                    <h1 class="title-modern">{{'Coinblend' | translate}}</h1>
                    <p>{{'CoinblendProvidesYouAccessToTheMostValuableCryptoAssets' | translate}}</p>
                </div>
                <div class="form_container">
                    <form accept-charset="UTF-8" method="get" id="landing_page_signup_form">
                        <input class="focus enter-fields" (input)="emailOnChange($event.target.value)" [(ngModel)]="email" autocomplete="off" type="text" name="email" id="user_email" placeholder="{{'EnterYourEmailAddress' | translate}}">
                        <button class="btn btn-fill" (click)="sendEmail()"> {{'GetStarted' | translate}} </button>
                        <div *ngIf="hasError" class="error">
                            {{'YourEmailIsInvalid' | translate}}
                        </div>
                    </form>
                </div>
                <div class="link_container">
                    <a (click)="scroll('features')">{{'FindOutMoreFirst' | translate}}</a>
                    <div class="intro-link-separator"></div>
                    <a href="https://app.coinblend.io/#/">{{'SignInHere' | translate}}</a>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="stats">
                            743%
                        </div>
                        <br />
                        <div class="description">
                            return since August 2017
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="stats">
                            34+
                        </div>
                        <br />
                        <div class="description">
                            countries served
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="stats">
                            &#8364;100
                        </div>
                        <br />
                        <div class="description">
                            low entry barrier
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <p class="footnote"> {{'ValueIsACalculationBaseOnVolatility' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>