
<header class="section section-header" id="home">
    <div class="parallax filter filter-color-blue">
        <div class="image background-image">
        </div>
        <div class="container">
            <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
            <div class="content">
                <div class="title-area">
                    <p>The time is now</p>
                    <h1 class="title-modern">{{'Coinblend' | translate}}</h1>
                    <h3>
                        {{'ReturnSince' | translate}}
                    </h3>
                </div>
                <div>
                    <a href="https://app.coinblend.io/#/" target="_blank" class="btn btn-fill btn-lg ">
                        Invest now
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>