<div class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="info-icon">
                    <div class="icon">
                        <img alt="participate" class="img-circle" src="{{participateImg}}" />
                    </div>
                    <p class="description">{{'DoYouWantToParticipateInTheCryptocurrencyRevolution' | translate}}</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="info-icon">
                    <div class="icon">
                        <img alt="difficulties" class="img-circle" src="{{difficultImg}}" />
                    </div>
                    <p class="description">{{'DoYouFindItDifficult' | translate}}</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="info-icon">
                    <div class="icon">
                        <img alt="profits" class="img-circle" src="{{profitImg}}" />
                    </div>
                    <p class="description">{{'DoYouAimAtHighProfits' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="quest-subtitle text-center">
                    {{'LikeYouWeWantedToHaveAccess' | translate}}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center logo">
                <img alt="coinblend-logo" class="img-responsive" src="{{logo}}" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="info-icon">
                    <div class="icon">
                        <img alt="difficulties" class="img-circle" src="{{lowEntry}}" />
                    </div>
                    <p class="description big">{{'LowEntryBarrier' | translate}}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="info-icon">
                    <div class="icon">
                        <img alt="participate" class="img-circle" src="{{simplicity}}" />
                    </div>
                    <p class="description big">{{'SimplePurchase' | translate}}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="info-icon">
                    <div class="icon">
                        <img alt="profits" class="img-circle" src="{{securityChecked}}" />
                    </div>
                    <p class="description big">{{'LowerRisk' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="quest-subtitle text-center">
                    {{'ButHowItActuallyWorks' | translate}}...
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="values-unit" id="values-unit-1">
                    <div>
                        <h3 class="num">1</h3>
                        <h4>{{'Tracker' | translate}}</h4>
                        <p>{{'CoinblendTracksCryptocurrencyFluctuationsSoYouDontHaveTo' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="values-unit" id="values-unit-2">
                    <div>
                        <h3 class="num">2</h3>
                        <h4>{{'OptimalExposure' | translate}}</h4>
                        <p>{{'ByLookingAtInvestmentRisk' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="values-unit" id="values-unit-3">
                    <div>
                        <h3 class="num">3</h3>
                        <h4>{{'Flexible' | translate}}</h4>
                        <p>{{'WhileCoinblendSuggestsAMix' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>