@import './../../../assets/styles/colors.scss';

.info-icon {
    .icon {
        img {
            height: 200px;
            margin: auto;
        }
    }
}

.quest-subtitle {
    margin-top: 30px;
    font-size: 26px;
}

#about {
    background-color: $brandy-rose;

    .info-icon {
        p {
            color: $brandy-rose-darker;
        }
    }

    .logo > img {
        margin: 100px auto;
        height: 100px;
    }

    .description {
        font-size: 18px;
    }

    .description.big {
        font-size: 22px;
        text-transform: uppercase;
        color: #333;
    }

    .values-unit {
        margin: 45px 0 33px 0;
        text-align: center;
    }

    .num {
        font: 51px/51px CaslonTwoTwentyFour-Book, Arial, Helvetica, sans-serif;
        margin-bottom: 18px;
    }

    .num:before {
        border-bottom: 1px solid #000;
        content: '';
        display: inline-block;
        height: 25px;
        vertical-align: top;
        width: 40px;
        margin-right: 23px;
    }

    .num:after {
        margin-left: 23px;
        border-bottom: 1px solid #000;
        content: '';
        display: inline-block;
        height: 25px;
        vertical-align: top;
        width: 40px;
    }

    .values-unit h4 {
        font-size: 32px;
        font-weight: normal;
        letter-spacing: 2px;
        line-height: 1.2em;
        margin-bottom: 11px;
        text-transform: uppercase;
    }

    .values-unit p {
        font-size: 18px;
        line-height: 1.2em;
        margin-bottom: 1.5em;
        color: #826453;
    }
}

@media (max-width: 992px) {
}

@media (min-width: 768px) and (max-width: 1200px) {
}

@media (max-width: 768px) {
}

@media (max-width: 414px) {
}

@media (max-width: 500px) {
    #about .logo > img {
        margin: 50px auto;
        height: 50px;
    }

    .quest-subtitle {
        font-size: 20px;
    }
}